from aocd import models
from src.utils import parse_data

# create puzzle
puzzle = models.Puzzle(year={{year}}, day={{day}})

# format data
input_data = parse_data(puzzle.input_data)

############################
# Solve puzzle
print(input_data)

answer_to_submit = None
############################

# submit answer
puzzle.answer_{{ part }} = answer_to_submit
